aiohttp==3.13.4
asyncpg==0.31.0
beautifulsoup4==4.14.3
chromadb==1.5.5
django_haystack==3.3.0
fastapi==0.135.2
haystack_experimental==0.19.0
html2text==2025.4.15
networkx==3.6.1
pandas
plotly==6.6.0
pydantic==2.12.5
PyPDF2==3.0.1
python-dotenv==1.2.2
pyvis==0.3.2
qdrant_client==1.17.1
Requests==2.33.0
rq==2.7.0
rq_win==0.4.2
selenium==4.41.0
semchunk==4.0.0
sentence_transformers==5.3.0
streamlit==1.55.0
tiktoken==0.12.0
torch==2.11.0
uvicorn==0.42.0
webdriver_manager==4.0.2
